/**
 * Created by 동준 on 2014-11-14.
 */

body {
    font-weight: 400!important;
    font-style: normal!important;
    color: #767676;
    background: #f1f2f7;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

/* 해더 start */
.header {
    left: 0;
    right: 0;
    z-index: 4;
    background: #fff;
}

header > .logo {
    background: #B2AC78;
    float: left;
    width: 240px;
    height: 80px;
    position: relative;
}

a.logo {
    font-size: 21px;
    color: #2e2e2e;
    float: left;
    margin: 20px 0 0 40px;
    text-transform: uppercase;
}

.header-img {
    width: 50px; height: 45px;
}

.header-name {
    cursor: pointer;
}

.sidebar-toggle-box {
    float: left;
    margin-top: 23px;
    margin-left: -15px;
    background: #C4BE8A;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -15px;
}

.sidebar-toggle-box:hover {
    background: #EAEAEA;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 8px 8px 8px 9px;
    color: rgba(0,0,0,.3);
}

.icon {
    float: left;
    margin-top: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.icon i {
    display: inline-block;
    font-size: 17px;
    color: rgba(0,0,0,.3);
}

.admin-box{
    background: #FAF4C0;
    padding: 8px 8px 8px 11px;
}

.admin-box:hover, .msg-box:hover {
    background: #EAEAEA;
}

.msg-box {
    background: #d9edf7;
    padding: 8px;
}

.header-menu{
    margin-top: 17px;
}

.top {
    margin: 0 15px;
}

.my-photo-box {
    background: #EAEAEA;
    color: #747474;
    border-radius: 20px;
    width: 180px;
    font-size: 15px;
    font-weight: bolder;
}

.top> li {
    margin-left: 10px;
}
ul.top> li {
    float: left;
}

.fixed-top {
    position: fixed;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    -o-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,.15);
}

.sidebar {
    width: 240px;
    height: 100%;
    position: fixed;
    background: #FAF4C0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-top: 80px;
}

.sidebar-box{
    height: 100%;
    overflow: hidden;
    outline: none;
}

ul.sidebar-menu, ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

.sidebar ul li {
    position: relative;
}

ul.sidebar-menu li {
    border-bottom: 1px solid darkslategrey;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #D6D09C;
    /*background: #E8E2AE;*/
    color: #000000;
    display: block;
    font-size: 15px;
}

ul.sidebar-menu .haveSub{
    /*background: #E8E2AE;*/
}


ul.sidebar-menu li a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 14px;
    font-weight: bolder;
    outline: none;
    cursor: pointer;
}

ul.sidebar-menu li ul.sub li {
    /*background: #E8E2AE;*/
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu ul.sub li {
    border-bottom: none;
}

.sidebar .sub-menu>.sub li a {
    padding-left: 46px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;
    color: #000000;
}

ul.sub li a.active, ul.sub li a:hover, ul.sub li a:focus {
    /*background: #D6D09C;*/
    background: #D6D09C;
    color: #000000;
    display: block;
    font-size: 15px;
}

.icon-right {
    float: right;
    padding-right: 15px;
    font-size: 20px;
}



/* 검색 start */
.search-box {
    position: relative;
    color: #000000;
}

.search-box .fa-search {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 8px 0px 0px 10px;
    color: rgba(0,0,0,.3);
    cursor: text;
}

.search-box .search-text {
    border: 2px solid #31708f;
    border-radius: 25px;
    width: 32px;
    padding-left: 30px;
    height: 32px;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.search-box:hover .search-text, .search-box:focus .search-text, .search-text:hover, .search-text:focus {
    outline: none;
    border: 2px solid #31708f;
    border-radius: 25px;
    padding-left: 26px;
    height: 32px;
    box-shadow: none;
    width: 160px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* 검색 end */

section {
    margin-left: 240px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-left: 3%;
    padding-right: 3%;
    min-height: 800px;
}

section > article {
    display: inline-block;
    margin-top: 80px;
    padding: 15px;
    width: 100%;
}

.main-lodding {
    margin: 300px auto;
}

.hide-left-bar {
    margin-left: -240px !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.move-section {
    margin-left: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

/* msg */
.msg {
    font-size: 13px;
}
/* msg end */


.err-box {
    position: relative;
    height: 0px;
    opacity: 0;
    margin-bottom: 3%;
    background-color: #ebcccc;
    color: red;
    padding: 1px;
    text-align: center;
    font-weight: bolder;
    margin-top: 3%;
    border-radius: 15px;
}

.err-box-show{
    -webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;
    height: 40px;
    opacity: 1;
}

.err-box .err-show {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.2s;
    -ms-transform: translate(0px,0px); /* IE 9 */
    -webkit-transform: translate(0px,0px); /* Chrome, Safari, Opera */
    -moz-transform: translate(0px,0px); /* firefox */
    transform: translate(0px,0px); /* Standard syntax */
}

.err-box .err-hide {
    -ms-transform: translate(0px,-20px); /* IE 9 */
    -webkit-transform: translate(0px,-20px); /* Chrome, Safari, Opera */
    -moz-transform: translate(0px,-20px); /* firefox */
    transform: translate(0px,-20px); /* Standard syntax */
}

/* login start */
.login-box {
    margin-bottom: 2%;
}
/* login end */

/* editor start */
.editor-around {
    border: 1px solid rgba(2,2,2,0.1);
    border-radius: 4px;
    vertical-align: text-bottom;
    background: #ffffff;
    margin: 5px 0;
    padding: 3px;
    position: relative;
}

.placeholder-text:before{
    color: #969696;
    font-size: 13px;
}

.ta-scroll-window > .ta-bind {
    min-height: 50px;
    outline: none;
}

.ta-editor.ta-html {
    min-height: 50px;
}

.ta-scroll-window.form-control {
    min-height: 50px;
}
/* editor end */

/* comment start */
.comment-set {
    float: right;
    cursor: pointer;
}

.comment-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    width: 250px;
}

.comment-box {
    margin-top: 20px;
}

.comment-detail{
    margin: 0;
    padding: 8px 0 8px 5px;
    border-bottom: 1px solid #adadad;
}
.comment-detail .title {
    font-size: 15px;
    font-weight: bold
}

.comment-content {
    word-wrap: break-word;
}

.conment-reg-date{
    color: #7b7b7b;
    font-size: 12px;
}

.comment-two-step{
    padding-left: 15px;
    margin-top: 3px;
    border-top: 1px dashed #adadad;
    position: relative;
}

.comment-two-step-icon {
    position: absolute;
    left: 1px;
    top: 1px;
    font-weight: bolder;
}
/* comment end */

/* 시계 start */
.johayo-circle {
    border: 8px solid #fff;
}

.johayo-face:after, .johayo-hour, .johayo-minute, .johayo-second {
    background: #fff;
}
/* 시계 end */

/* 공통 start */
table, td, th{
    border: 1px solid silver;
    padding: 3px;
}

th {
    background-color: #adadad;
}

*:focus {
    outline:0 !important;
    outline-width: 0;
}

.box {
    padding: 10px;
    margin: 5px;
}

ul li {
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

p {
    padding: 0;
    margin: 0;
}

.modal-title {
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}

.file-icon {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

.file-icon .fa-file-text-o {
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    padding-top: 12px;
    cursor: inherit;
}

.file {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.file >li {
    margin-left: 5px;
    width: 60px;
    word-wrap: break-word;
    float: left;
}

.file-list {
    margin-top: 15px;
}

.panel-heading ul > li {
    float: left;
}

.glyphicon-remove, .fa-cog{
    cursor: pointer;
}

.list-group {
    margin: 0px;
}
/* 공통 end */

/* err start */
.err-title {
    margin-top: -2%;
    \border-bottom:1px solid rgba(2,2,2,0.1);
}

.err-msg {
    border-bottom:1px solid rgba(2,2,2,0.1);
    padding: 2%;
    color: red
}

.err-btn {
    margin-top: 2%
}
/* err end */

/* board start */
.board-add-btn {
    padding-right: 5px;
}
.board-list{
    -webkit-animation: flying2-from-right 600ms;
    animation: flying2-from-right 600ms;
}

.board-comment-count {
    color: orangered
}

.board-detail {
    -webkit-animation: flying-from-right 600ms;
    animation: flying-from-right 600ms;
    webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    -o-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,.15);
    background-color: #ffffff;
    border-radius: 15px;
    z-index: 0;
}

.board-detail .config {
    cursor: pointer;
    font-size: 15px;
    position: relative;
    float: right;
}

.panel {
    webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    -o-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,.15);
}

.panel-heading {
    height: 50px;
}

.header-division {
    font-size: 22px;
    font-weight: bolder;
}

.reg-date {
    position: absolute;
    right: 15px;
    top: 10px;
}

.board-detail .header {
    position: relative;
}

.board-detail .header .title {
    font-size: 25px;
    font-weight: bolder;
    padding: 5px 0;
    word-wrap: break-word;
}

.board-detail .content {
    border-top: 3px double #dcdcdc;
    border-bottom: 3px double #dcdcdc;
    padding: 15px 0;
    word-wrap: break-word;
}

.board-detail .reg-date {
    padding: 15px 0 0;
    text-align: right;
}

.board-detail .detail-reg-date {
    color: #9d9d9d
}
/* board end */

/* admin start */
.admin-menu {
    -webkit-animation: opacity-animation 600ms;
    animation: opacity-animation 600ms;
}
.board-add {
    -webkit-animation: flying-from-right 600ms;
    animation: flying-from-right 600ms;
}
/* admin end */

/* bookmark start */
.bookmark {
    position: relative;
    box-sizing: border-box;
}

.bookmark-add {
    margin-bottom: 5px;
}

.bookmark-box{
    background-color: #ffffff;
    border: 1px solid #eee;
    display: inline-block;
    box-shadow: 0 0 5px #eee;
    overflow: hidden;
    max-width: 320px;
    min-width: 250px;
    vertical-align: top;
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
}

.bookmark-img {
    width: 100%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bookmark-content {
    word-wrap: break-word;
}

.hash-tag-box{
    background-color: gray;
    border-radius: 5px;
    padding-left: 10px;
    color: #ffffff;
}
/* bookmark end */

/* main start */
.intro {
    background-color: #dff0d8;
    border-radius: 5px;
    border: 2px solid #ffffff;
    padding: 15px;
    font-size: 13px;
    font-weight: bolder;
    word-wrap: break-word;
}

.clock {
    border-radius: 5px;
    padding: 10px;
}

.bookmark-main {
    margin-top: 10px;

}

.board-main {
    margin: 5px;
}
/* main end */
@media (max-width: 1000px){
    header {
        margin-top: 50px ! important;
    }

    header > .logo {
        width: 100%;
        float: none;
        position: fixed;
        top: 0px;
        height: 50px;
        z-index: 1005;
    }

    .clock {
        display: none;
    }

    a.logo {
        margin: 5px 10px;
    }

    .sidebar-toggle-box{
        right: 15px;
        margin-top: 8px;
    }

    .header-menu{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .sidebar{
        padding-top: 0;
        margin-left: -240px;
        opacity: 0.9;
        z-index: 3;
        padding-top: 110px;
    }

    .hide-left-bar {
        margin-left: 0px !important;
    }

    .move-section {
        margin-left: 0px;
        padding-left: 0%;
        padding-right: 0%;
    }

    section {
        margin-left: 0px;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 90px;
    }

    section > article{
        margin-top: 15px;
    }
}

@media (max-width: 547px){
    .bookmark-box {
        width: 355px;
    }

    section {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }

    section > article{
        margin-top: 15px;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .box {
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/* repeat animate start */
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    -webkit-animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}

@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        right: -70px;
    }
    25% {
        right: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        right: 0px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
        right: -70px;
    }
    25% {
        right: 15px;
    }
    from {
        opacity: 1;
        height: 30px;
        right: 0px;
    }
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    -webkit-animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 600ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    display: block;
    position: relative;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        right: -70px;
    }
    75% {
        right: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        right: 0px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
        right: -70px;
    }
    75% {
        right: 15px;
    }
    to {
        opacity: 1;
        height: 30px;
        right: 0px;
    }
}
/* repeat animate end */

@-webkit-keyframes flying-from-right {
    from {
        right: -800px;
    }
    75% {
        right: 15px;
    }
    to {
        right: 0px;
    }
}
@keyframes flying-from-right {
    from {
        right: -800px;
    }
    75% {
        right: 15px;
    }
    to {
        right: 0px;
    }
}

@-webkit-keyframes flying2-from-right {
    from {
        right: -800px;
        top : -300px
    }
    75% {
        right: 15px;
        top : 15px;
    }
    to {
        right: 0px;
        right: 0px;
    }
}
@keyframes flying2-from-right {
    from {
        right: -800px;
        top : -300px
    }
    75% {
        right: 15px;
        top : 15px;
    }
    to {
        right: 0px;
        right: 0px;
    }
}
@-webkit-keyframes opacity-animation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes opacity-animation {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.custom-repeat.ng-move,
.custom-repeat.ng-enter,
.custom-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.custom-repeat.ng-leave.ng-leave-active,
.custom-repeat.ng-move,
.custom-repeat.ng-enter {
    -webkit-animation: custom_out 0.5s;
    -moz-animation:custom_out 0.5s;
    -o-animation:custom_out 0.5s;
    animation:custom_out 0.5s;
}

.custom-repeat.ng-leave,
.custom-repeat.ng-move.ng-move-active,
.custom-repeat.ng-enter.ng-enter-active {
    -webkit-animation:custom_in 0.5s;
    -moz-animation:custom_in 0.5s;
    -o-animation:custom_in 0.5s;
    animation:custom_in 0.5s;
}

.bookmark-box, .intro {
    -webkit-animation:custom_in 0.5s;
    -moz-animation:custom_in 0.5s;
    -o-animation:custom_in 0.5s;
    animation:custom_in 0.5s;
}

@keyframes custom_in {
    from {
        transform:rotate(-50deg);
        opacity:0;
    }
    to {
        transform:rotate(0deg);
        opacity:1;
    }
}

@-webkit-keyframes custom_in {
    from {
        -webkit-transform:rotate(-50deg);
        opacity:0;
    }
    to {
        -webkit-transform:rotate(0deg);
        opacity:1;
    }
}

@-moz-keyframes custom_in {
    from {
        -moz-transform:rotate(-50deg);
        opacity:0;
    }
    to {
        -moz-transform:rotate(0deg);
        opacity:1;
    }
}

@-o-keyframes custom_in {
    from {
        -o-transform:rotate(-50deg);
        opacity:0;
    }
    to {
        -o-transform:rotate(0deg);
        opacity:1;
    }
}

@keyframes custom_out {
    from {
        transform:rotate(0deg);
        opacity:1;
    }
    to {
        transform:rotate(-50deg);
        opacity:0;
    }
}

@-webkit-keyframes custom_out {
    from {
        -webkit-transform:rotate(0deg);
        opacity:1;
    }
    to {
        -webkit-transform:rotate(-50deg);
        opacity:0;
    }
}

@-moz-keyframes custom_out {
    from {
        -moz-transform:rotate(0deg);
        opacity:1;
    }
    to {
        -moz-transform:rotate(-50deg);
        opacity:0;
    }
}

@-o-keyframes custom_out {
    from {
        -o-transform:rotate(0deg);
        opacity:1;
    }
    to {
        -o-transform:rotate(-50deg);
        opacity:0;
    }
}

.clock {
    -webkit-animation:opacity-in 1.5s;
    -moz-animation:opacity-in 1.5s;
    -o-animation:opacity-in 1.5s;
    animation:opacity-in 1.5s;
}

@keyframes opacity-in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes opacity-in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes opacity-in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-o-keyframes opacity-in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* 모달 바탕화면 색 */
.ngdialog.ngdialog-theme-custom .ngdialog-overlay {
    /*background: rgba(255,255,255,.5);*/
}

/* 모달 바탕화면 색 */
.ngdialog.ngdialog-theme-flat .ngdialog-overlay {
    /*background: rgba(255, 255, 255, 0.4);*/
}

/* 모달 메인 back 색 */
.ngdialog.ngdialog-theme-custom .ngdialog-content {
    background: #fcf8e3;
}

/* 모달 순서 */
.ngdialog.ngdialog-theme-custom{
    z-index: 5;
}

.ngdialog.ngdialog-theme-custom-error {
    z-index: 6;
}

.ngdialog.ngdialog-theme-error {
    /*padding-bottom: 160px;*/
    padding-top: 50px;
}