<div class="col-xs-12 board-detail">
    <div class="box">
        <div class="header">
            <div class="config" ng-if="isLogin">
                <i class="fa fa-cog" bs-dropdown="boardConfig" placement="bottom-right" html="true"></i>
            </div>
            <div class="detail-reg-date">
                {{boardDetail.regDt | date : 'yyyy-MM-dd HH:mm ss'}}
            </div>
            <div class="title">
                {{boardDetail.title}}
            </div>
        </div>
        <div class="content" ng-model="boardDetail.content" ta-bind="text"></div>

        <!-- 댓글 -->
        <div class="comment-box" ng-controller="commentController">
            <h4>
                Comments
                <small>({{!!boardDetail.commentList ? boardDetail.commentList.length : 0}})</small>
                <button class="btn btn-xs btn-info" ng-click="showWriteBox = !showWriteBox; closeEditor(); comment={}">
                    <i class="glyphicon glyphicon-pencil"></i>
                </button>
            </h4>
            <div ng-hide="showWriteBox">
                <form role="form">
                    <div text-angular="text-angular" name="comment" ng-keydown="insertCt($event);" placeholder="Comment" class="comment-editor"
                         ng-model="comment.content" ta-toolbar="[]" ta-text-editor-class="editor-around form-control" ></div>
                    <div class="comment-form">
                        <input type="text" ng-model="comment.name" placeholder="Name" class="form-control" ng-if="!isLogin">
                        <input type="password" ng-model="comment.pw" placeholder="Password" class="form-control" ng-if="!isLogin">
                        <button class="btn btn-success" ng-disabled="checkVal(comment)" ng-click="addComment()">Write</button>
                    </div>
                </form>
            </div>
            <div class="media comment-detail" ng-repeat="commentDetail in boardDetail.commentList | orderBy:'regDt':true">
                <!-- 1step comment -->
                <div class="comment-one-step">
                    <div class="title">
                        <p>
                            {{commentDetail.name}} <small class="conment-reg-date">({{commentDetail.regDt | date : 'yyyy-MM-dd HH:mm:ss'}})</small>
                            <button class="btn btn-xs btn-default" ng-click="showEditor(commentDetail.seq)">
                                <i class="glyphicon glyphicon-wrench"></i>
                            </button>
                        </p>
                    </div>
                    <div ng-show="isShowEditor[commentDetail.seq]">
                        <text-angular ng-model="commentDetail.content" ta-disabled='disabled' placeholder="subComment"  ta-toolbar="[]" ta-text-editor-class="editor-around" ></text-angular>
                        <div class="comment-form">
                            <input type="password" ng-model="commentDetail.pw" placeholder="Password" class="form-control">
                            <button class="btn btn-warning btn-sm" ng-disabled="checkVal(commentDetail)" ng-click="editComment(commentDetail)">Edit</button>
                            <button class="btn btn-danger btn-sm" ng-disabled="!commentDetail.pw" ng-click="deleteComment(commentDetail.seq, commentDetail.pw)">Delete</button>
                            <button class="btn btn-default btn-sm" ng-click="closeEditor()">Close</button>
                        </div>
                    </div>
                    <div class="comment-content" ng-bind-html="commentDetail.content" ng-hide="isShowEditor[commentDetail.seq]"></div>
                </div>
            </div>
        </div>
    </div>
</div>