<div class="col-xs-12 board-add">
    <div class="panel panel-success" >
        <div class="panel-heading">
            <span class="header-division">Add Board</span>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="form-group">
                    <label for="select">What kind of Board?</label>
                    <select id="select" ng-model="board.division" class="form-control">
                        <option value="">--choose--</option>
                        <optgroup ng-repeat="list in menuList" ng-if="list.isBoard" label="{{list.name}}">
                            <option ng-repeat="subList in list.subMenuList" value="{{subList.name}}">{{subList.name}}</option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group">
                    <label for="file"> File</label>
                    <input type="file" name="myFile" ng-file-select="onFileSelect($files)" multiple onclick="this.value=null" style="display: none;">
                    <div>
                        <button class="btn btn-info" id="file" onclick="document.all.myFile.click();">File Upload</button>
                    </div>
                    <div class="col-xs-12" class="file-list">
                        <ul class="file">
                            <li ng-repeat="list in selectedFiles" ng-if="!list.deleteYn">
                                <div class="pull-right" ng-click="deleteFile($index, uploadFileList[$index].path)" ng-if="list.progress == 100">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </div>
                                <div class="file-icon" ng-if="uploadFileList[$index].url == null || !list.isImg">
                                    <i class="fa fa-file-text-o"></i>
                                </div>
                                <img ng-src="{{uploadFileList[$index].url}}" ng-if="uploadFileList[$index].url != null && list.isImg" width="50" height="50">
                                <div class="progress" style="height: 5px; margin-top: 5px; margin-bottom: 5px;">
                                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: {{list.progress}}%;">
                                        <span class="sr-only"></span>
                                    </div>
                                </div>
                                <span>{{list.name}}</span>
                                <div style="padding-left: 0px;color: #ff0000;font-weight: bold" ng-if="list.error != null">{{list.error}}</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name"> Title</label>
                    <input type="text" ng-model="board.title" class="form-control" id="name" placeholder="Title">
                </div>
                <div class="form-group">
                    <label> Content</label>
                    <text-angular ng-model="board.content" ta-disabled='disabled'  ta-text-editor-class="editor-around" placeholder="Content"></text-angular>
                </div>
                <button class="btn btn-default" ng-click="addBoard()">Add</button>
            </div>
        </div>
    </div>
</div>