<div class="col-xs-12 board-list">
    <div class="panel" ng-class="boxClass">
        <div class="panel-heading">
            <span class="header-division">List</span>
            <ul class="pull-right">
                <li ng-if="isLogin" class="board-add-btn">
                    <a href="/#/admin/board" class="btn btn-sm btn-default">Add Board</a>
                </li>
                <li>
                    <search-box search-text="searchText"></search-box>
                </li>
            </ul>
        </div>
        <div class="panel-collapse">
            <div class="panel-body">
                <div class="list-group">
                    <a ng-href="/#/board/{{list.division +'/'+list._id}}" class="list-group-item animate-repeat" ng-repeat="list in boardList | filter: searchText" ng-class="getColor($index)">
                        {{list.title | limitAndJjum:100}}
                        <span class="board-comment-count" ng-if="list.commentList.length > 0">({{list.commentList.length}})</span>
                        <div class="reg-date">
                            {{list.regDt | date : 'yyyy-MM-dd'}}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>